workflows/RH_Lead_Notifier/RH_Lead_Notifier.json
{
  "createdAt": "2025-04-16T07:56:04.579Z",
  "updatedAt": "2025-04-17T15:03:17.000Z",
  "id": "t8ArFwnJf5HoYTWY",
  "name": "RH Lead Notifier",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "=after:{{ $now.toFormat('yyyy/MM/dd') }} before:{{ $now.plus({ days: 1 }).toFormat('yyyy/MM/dd') }}",
          "readStatus": "unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "afcb39c1-0027-4a0b-a2a6-cd197e9c08cb",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "WMUbbRHqLGJ2P4MI",
          "name": "DEV Gmail API account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Вытащи ссылку на сообщение в линкедин из этого письма. Оно находится в кнопке. Напиши только линк по ссылке. \n\n\n{{ $('Gmail Trigger').item.json.html }}\n\n\nИтоговый результат - чисто ссылка в маркдаун формате с текстом \"Open\" и линком, который открывался бы, если бы нажимали на эту кнопку в сообщении. ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        800,
        -100
      ],
      "id": "a1c208d0-2eac-4c22-8d7b-ec11dca454be",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "google/gemma-3-27b-it:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1100,
        280
      ],
      "id": "35271cc8-665e-4324-bd7c-4e78edb8de28",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "xM1Kdr0j4QvJ4iaw",
          "name": "AdminN8N"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "732698343951695963",
          "mode": "list",
          "cachedResultName": "Remote Helpers",
          "cachedResultUrl": "https://discord.com/channels/732698343951695963"
        },
        "channelId": {
          "__rl": true,
          "value": "1347111996553953280",
          "mode": "list",
          "cachedResultName": "ai-reports",
          "cachedResultUrl": "https://discord.com/channels/732698343951695963/1347111996553953280"
        },
        "content": "=You have 1 message from your lead. \n\n{{ $json.output }} 🚪\n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1180,
        -140
      ],
      "id": "f3df73e7-e2f8-431a-8878-a0e9f2928745",
      "name": "Discord",
      "webhookId": "f025ca74-fe01-4d0c-82dc-eae2112aa327",
      "credentials": {
        "discordBotApi": {
          "id": "8q8bQmQbPFPMKUDh",
          "name": "RH Lead Notifier"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Проверь, является ли это сообщение уведомлением о том, что пришло новое сообщение в линкедин. Если да, то выведи true, если нет - false. Больше ничего не пиши, отвечай только одним словом\n\n {{ $json.html }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        140,
        0
      ],
      "id": "11ab1688-e10e-4ccd-813a-cf603d353666",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "google/gemma-3-27b-it:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        160,
        200
      ],
      "id": "38dcabf6-3b6f-4b9f-9f4f-56c4445b094d",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "xM1Kdr0j4QvJ4iaw",
          "name": "AdminN8N"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "28d01dcf-10b1-4aa4-bae9-bce7525e488e",
              "leftValue": "={{ $json.output }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        500,
        0
      ],
      "id": "d1b80e13-9efd-4601-a73f-4b5890279a54",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1380,
        -140
      ],
      "id": "faa8368d-decb-45df-8f32-cd1c68ba2296",
      "name": "Gmail",
      "webhookId": "8dd87591-726b-4504-b8e0-7955caf82cac",
      "credentials": {
        "gmailOAuth2": {
          "id": "s09JnuCcx9ezdMBU",
          "name": "Sales N8N gmail "
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4b8b689c-15fd-4ec0-9c2a-3a18bcae698b",
  "triggerCount": 0,
  "tags": []
}