workflows/Sync_test/Sync_test.json
{
  "createdAt": "2025-05-15T11:15:23.930Z",
  "updatedAt": "2025-05-15T12:05:51.000Z",
  "id": "CyMckUcVnMhTAWN4",
  "name": "Sync test",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -40,
        200
      ],
      "id": "eacf75b7-83c7-41e5-97c9-a5f95f319833",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "folder",
        "name": "={{$node[\"Notion\"].json.properties.Name.title[0].plain_text}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1jgjm2KClN_SvxuTIK6dSRMge2AlzD0Mh",
          "mode": "list",
          "cachedResultName": "Notion sync",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1jgjm2KClN_SvxuTIK6dSRMge2AlzD0Mh"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        600,
        200
      ],
      "id": "19441a87-eec3-4bc4-82b9-25ff954efba0",
      "name": "Google Drive Sync Bot",
      "credentials": {
        "googleApi": {
          "id": "hS81TG2c6iJzBKyj",
          "name": "drive-sync-bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "path": "=/NotionSync/{{ $json.name.replace(/^\"|\"$/g, \"\") }}"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        820,
        200
      ],
      "id": "28ef60ce-36fd-4255-afac-30345cd3b88a",
      "name": "Dropbox Sync Bot",
      "credentials": {
        "dropboxApi": {
          "id": "iaf6L8h4BPClZyDP",
          "name": "Dropbox sync"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "1f4b16a3-1451-803b-926c-f1f31c5537df",
          "mode": "list",
          "cachedResultName": "Google Drive, Dropbox, Notion",
          "cachedResultUrl": "https://www.notion.so/1f4b16a31451803b926cf1f31c5537df"
        },
        "title": "={{$node[\"Edit Fields\"].json.Name}}",
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Type|select",
              "selectValue": "Folder"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        380,
        200
      ],
      "id": "6fb816b0-bc89-4bc7-a2b2-ad4714e566df",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "W6XF5iZIo47DAorb",
          "name": "Notion Sync Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e55df2f0-bb2f-4c51-95ec-affe702ef610",
              "name": "Name",
              "value": "\"TestFolder\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        180,
        200
      ],
      "id": "399b8f00-972e-47e0-ade6-028fe4872300",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Sync Bot": {
      "main": [
        [
          {
            "node": "Dropbox Sync Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dropbox Sync Bot": {
      "main": [
        []
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Google Drive Sync Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "dc4114fc-8626-40e3-ba89-98a9bee471b4",
  "triggerCount": 0,
  "tags": []
}