workflows/Job_application_ai_spreadsheet/Job_application_ai_spreadsheet.json
{
  "createdAt": "2025-05-06T07:49:51.422Z",
  "updatedAt": "2025-05-13T08:23:38.000Z",
  "id": "yR51rFyu31Qyhc6Y",
  "name": "Job application ai spreadsheet",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "simple": false,
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": "is:unread newer_than:1d"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -2460,
        100
      ],
      "id": "0bc20cee-f103-4af9-a51b-fddbe3d0767e",
      "name": "Gmail",
      "webhookId": "b85c36a9-0bb0-4636-820e-8591ccd2ee86",
      "credentials": {
        "gmailOAuth2": {
          "id": "6xc5s9PzWiNCH9Xs",
          "name": "HR Gmail"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d62c9ef5-fc32-44f1-88c1-c3f36f063059",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "92ff2628-b515-4d46-837b-2990835a44c2",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2240,
        100
      ],
      "id": "8f9d363e-b99a-4f32-a16f-7df0beef86cc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Проверьте, является ли это письмо откликом на вакансию. Если да, то строго пишите \"да\". Не нужно писать ничего другого, например, \"спасибо за информацию\" или \"я просмотрел(а) ваше письмо\". Или даже синонимы слова \"да\", например \"конечно\" или \"безусловно\". Ты можешь писать только да,  если ты видишь что письмо является ответом на вакансию. Если письмо не является ответом на вакансию,  то так же строго пишите \"нет. \n\n<email-content>\n{{ $json.text }}\n</email-content>\n</email-topic>\n{{ $json.subject }}\n</email-topic>\n\nОриентируйся на тег email-content для оценки содержания письма на предмет соответствия типу «отклик» на вакансию и email-topic для оценки темы письма  "
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -2020,
        100
      ],
      "id": "943548c1-f3b6-4018-80bc-1b00d79adfc8",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "google/gemma-3-27b-it",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1920,
        320
      ],
      "id": "15efcbc8-e3d1-40c0-92cc-777d6f607f06",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "PrqIbmbNAb3ME4eF",
          "name": "OpenRouter Sales account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "нет",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "80a2efdc-0238-48e9-820c-4d0ba9a807d3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Нет"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "968f12f4-ce47-489d-877c-6efc8c4db867",
                    "leftValue": "={{ $json.text }} ",
                    "rightValue": "=да",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "да - читать текст"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1660,
        100
      ],
      "id": "9ebeecce-6119-44a4-b7a9-64172e4e2e7f",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.text }}\n\n\nНапиши только результат, без блоков кода и твоих комментариев. То есть, не нужно заключать json в блок кода, а также писать те фразы, которые не относятся к json. Также не нужно сокращать json и отходить от той структуры, которая у тебя в инструкциях прописана. Строго соблюдай поля, регистр в полях, язык полей. \nВ поле с описанием пиши только текст сообщения без сервисной информации. То есть, в поле description нужно цитировать ключевую информацию. Причем не надо писать ту информацию, которая есть в остальных полях json. Пиши исключительно те данные, что касаются сообщения человека.\nУбедись, что Description не больше 4 предложений, но при этом содержит все ключевые данные из переписки. Он включает в себя основные моменты, указанные пользователем, перечисленные через запятую. Не нужно додумывать, будь кратким и ясным.\nУбедись, что Follow Up date соответствует формату DD-MM-YYYY, то есть, содержит две цифры для дня, две для месяца и четыре для года, разделённые дефисами. Например, 31-12-2025. Не нужно писать  такие три неправильные варианта дат, как 01-1-2025, 2025-12-31, 31/12/2025.\n\nВот шаблон правильного запроса, который тебе нужно заполнить\n\n{\n  \"Profile\": {\n    \"Name\": \"<Name>\",\n    \"Gender\": \"<Gender>\",\n    \"Country\": \"<Country>\",\n    \"City\": \"<City>\",\n    \"Status\": \"<Status>\",\n    \"Job Posts\": [\n      \"<Job Post 1>\",\n      \"<Job Post 2>\"\n    ],\n    \"Professions\": [\n      \"<Profession 1>\",\n      \"<Profession 2>\"\n    ]\n  },\n  \"Communications\": [\n    {\n      \"Account\": \"<Account>\",\n      \"Communication Type\": \"<Communication Type>\",\n      \"Date\": \"<DD-MM-YYYY>\",\n      \"Note\": \"<Note>\",\n      \"Follow Up Date\": \"<DD-MM-YYYY>\",\n      \"Description\": \"<Description>\"\n    }\n  ],\n  \"Contacts\": [\n    {\n      \"Tool\": \"<Tool>\",\n      \"Value\": \"<Value>\"\n    },\n    {\n      \"Tool\": \"<Tool>\",\n      \"Value\": \"<Value>\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -1340,
        140
      ],
      "id": "6977ed22-26b9-4777-949a-9d9042d3c434",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": "google/gemma-3-27b-it",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1240,
        360
      ],
      "id": "4113cb6b-9566-403f-8293-c6d67ecb78d9",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "PrqIbmbNAb3ME4eF",
          "name": "OpenRouter Sales account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<instructions>\nТы - корректор JSON. Твоя задача - исправлять ошибки в джсон, который я тебе даю на вход. В частности, убедись, что дата соответствует формату дд-мм-гггг. То есть, правильно будет написать: \"02-12-2020, а не 2-12-2020 или 02-2-2020. Не исправляй остальной JSON. Оставь его таким же, каким он был до этого. Просто исправь ошибки в дате.Также убедись, что заметка не больше четырех предложений.\nУбери '''json и не заключай результат в блок кода\n</json>\n\n{{ $json.text }}\n\n<result>\nИсправленный json, не заключённый в блок кода без начала '''jsonи без одирарных кавычек в конце. Без использования блоков кода и без форматирования markdown  \n</result>"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -960,
        120
      ],
      "id": "f3dbc5f7-392f-4496-b4bf-3b3e1f465373",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "model": "google/gemma-3-27b-it",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -860,
        340
      ],
      "id": "b7f03b86-6704-4fb3-b6af-f084360ca3bc",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "PrqIbmbNAb3ME4eF",
          "name": "OpenRouter Sales account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "//// Mode: Run Once for All Items\n// Language: JavaScript\n\nconst items = $items('Basic LLM Chain1');\n\nreturn items.map(item => {\n  // получаем ответ от LLM\n  const md = item.json.text || '';\n  // убираем все тройные обратные кавычки и слово “json”\n  const jsonStr = md.replace(/```(?:json)?/gi, '').trim();\n  // парсим чистую JSON-строку\n  return { json: JSON.parse(jsonStr) };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -620,
        140
      ],
      "id": "bd53d5df-3528-4dfe-8fbc-24a682724239",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iRiPVAihPFugTOakAL8GkRiBgvLu5ZxDvZRHHImM038/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iRiPVAihPFugTOakAL8GkRiBgvLu5ZxDvZRHHImM038/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Country ": "={{ $json.Country }}",
            "City": "={{ $json.City }}",
            "Status": "={{ $json.Status }}",
            "Professions ": "={{ $json.Professions }}",
            "Communications account ": "={{ $json['Communications account'] }}",
            "Communication type": "={{ $json['Communication type'] }}",
            "Date": "={{ $json.Date }}",
            "Note": "={{ $json.Note }}",
            "Follow up date": "={{ $json['Follow up date'] }}",
            "Description ": "={{ $json.Description }}",
            "Email": "= {{ $json.Email }}",
            "Gender": "={{ $json.Gender }}",
            "Telegram": "={{ $json.Telegram }}",
            "Viber": "={{ $json.Viber }}",
            "Phone": "={{ $json.Phone ? $json.Phone.replace(/^\\+/, '') : '' }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Country ",
              "displayName": "Country ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Professions ",
              "displayName": "Professions ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Communications account ",
              "displayName": "Communications account ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Communication type",
              "displayName": "Communication type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Note",
              "displayName": "Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow up date",
              "displayName": "Follow up date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description ",
              "displayName": "Description ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telegram",
              "displayName": "Telegram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Viber",
              "displayName": "Viber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        0
      ],
      "id": "2e5e0e0b-638f-44dc-9a1f-67dd1f357825",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "M7rjHAzLHxn6Kc02",
          "name": "Google Sheets HR"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const out = $items().map(item => {\n  const data = item.json;\n  const res = {};\n\n  // Профіль\n  const profile = data.Profile || {};\n  ['Name', 'Gender', 'Country', 'City', 'Status', 'Professions'].forEach(k => {\n    res[k] = profile[k] ?? null;\n  });\n\n  // Communications — беремо перший елемент\n  const comm = Array.isArray(data.Communications) ? data.Communications[0] : {};\n  res['Communications account']  = comm.Account ?? null;\n  res['Communication type']      = comm['Communication Type'] ?? null;\n  res['Date']                    = comm.Date ?? null;\n  res['Note']                    = comm.Note ?? null;\n  res['Follow up date']          = comm['Follow Up Date'] ?? null;\n  res['Description']             = comm.Description ?? null;\n\n  // Contacts\n  (data.Contacts || []).forEach(c => {\n    const tool  = String(c.Tool || '').trim();\n    const value = String(c.Value || '').trim();\n    const key   = tool.charAt(0).toUpperCase() + tool.slice(1).toLowerCase();\n\n    res[key] = value;\n\n    // Якщо значення схоже на номер телефону — копіюємо до Phone\n    if (/^\\+?\\d[\\d\\s-]{6,}$/.test(value)) {\n      res['Phone'] = value.replace(/\\s+/g, '');\n    }\n  });\n\n  return { json: res };\n});\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        140
      ],
      "id": "abe49bfd-388b-4978-a8f3-261afd9e19db",
      "name": "Code1"
    },
    {
      "parameters": {
        "path": "GmailParser",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2680,
        100
      ],
      "id": "c1cc9d4c-b609-49c9-ac54-2c225b85569e",
      "name": "Webhook",
      "webhookId": "248a49bb-744b-4352-b928-2d3c4e0d993f"
    },
    {
      "parameters": {
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages/{{$node[\"Gmail\"].json[\"id\"]}}/attachments/{{$node[\"Gmail\"].json[\"payload\"][\"parts\"][0][\"body\"][\"attachmentId\"]}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        140
      ],
      "id": "ab70e80e-b7b1-4195-b3b7-721100b4e504",
      "name": "HTTP Request",
      "credentials": {
        "gmailOAuth2": {
          "id": "6xc5s9PzWiNCH9Xs",
          "name": "HR Gmail"
        }
      }
    }
  ],
  "connections": {
    "Gmail": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "654f89fc-3778-49b3-a2c3-095ab2bc046b",
  "triggerCount": 1,
  "tags": []
}