workflows/NotionAutomation/NotionAutomation.json
{
  "createdAt": "2025-04-30T12:58:28.844Z",
  "updatedAt": "2025-05-02T03:57:55.000Z",
  "id": "WWQEMJmLuPTCLxxN",
  "name": "NotionAutomation",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Определи тип запроса, который тебе отправляет пользователь:\n1. Read.\n2. Write.\n3. Other.\nНапиши только результат. \n\nGive me the data in Notion about my tasks.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1660,
        -140
      ],
      "id": "0055bf8b-6bce-43b3-a205-cea1468b696b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "google/gemma-3-27b-it",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1380,
        160
      ],
      "id": "36fbe65e-71a8-441f-97b3-a825c9497b8f",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "xM1Kdr0j4QvJ4iaw",
          "name": "AdminN8N"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1840,
        -280
      ],
      "id": "a0f6580c-427a-4a10-a42c-8bc94ce06fdc",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Read",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "c0a64c7c-e0a2-4f96-b472-fa2bac1d9760"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Read"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1340,
        -380
      ],
      "id": "419327b1-fd25-4950-9513-7d5391abbf5d",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "f7fa934cfc8440b38a705af8af6cc32f",
        "returnAll": true,
        "options": {}
      },
      "id": "71a50b86-f1f3-4f56-9060-09151182588e",
      "name": "Read Workflow DB",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 1,
      "position": [
        -1100,
        -380
      ],
      "credentials": {
        "notionApi": {
          "id": "tOaND2east20Zsvy",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "a3368838-3458-482f-9e2b-e61c1d667200",
              "leftValue": "={{$json[\"Project name\"]}}",
              "rightValue": "LLM Team",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "07e3b1bf-54e3-4bc0-985f-20ecd13585b2",
      "name": "Filter LLM Team",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -860,
        -380
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "pageId": "={{$json[\"id\"]}}"
      },
      "id": "92213046-fc4a-48ee-aea3-a0e240c951a8",
      "name": "Get LLM Team page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 1,
      "position": [
        -540,
        -540
      ],
      "credentials": {
        "notionApi": {
          "id": "tOaND2east20Zsvy",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javascript",
        "jsCode": "// Получаем список ID задач\nconst taskIds = $json[\"Tasks\"];  // Проверяем, что это массив с ID задач\nconsole.log('taskIds:', taskIds);\n\n// Собираем все ID задач в один массив\nconst allTaskIds = taskIds.map(taskId => taskId);  // Массив ID задач\n\nconsole.log('All Task IDs:', allTaskIds);\n\n// Возвращаем массив всех ID задач\nreturn { allTaskIds };  // Возвращаем массив ID задач для дальнейшей обработки\n"
      },
      "id": "955959f6-626d-429b-bf7a-407870d16789",
      "name": "List Task Names",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -260,
        -560
      ]
    }
  ],
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Read Workflow DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Workflow DB": {
      "main": [
        [
          {
            "node": "Filter LLM Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter LLM Team": {
      "main": [
        [
          {
            "node": "Get LLM Team page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LLM Team page": {
      "main": [
        [
          {
            "node": "List Task Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5b62ff0b-8e44-4b51-9977-c54358a19484",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-04-30T12:59:54.599Z",
      "updatedAt": "2025-04-30T12:59:54.599Z",
      "id": "VwAVXoFqt9ZzSBw6",
      "name": "Notion"
    }
  ]
}