workflows/NotionAutomation/NotionAutomation.json
{
  "createdAt": "2025-04-30T12:58:28.844Z",
  "updatedAt": "2025-05-03T10:56:43.000Z",
  "id": "WWQEMJmLuPTCLxxN",
  "name": "NotionAutomation",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Определи тип запроса, который тебе отправляет пользователь:\n1. Read.\n2. Write.\n3. Other.\nНапиши только результат. \n\nGive me the data in Notion about my tasks.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1660,
        -140
      ],
      "id": "0055bf8b-6bce-43b3-a205-cea1468b696b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "google/gemma-3-27b-it",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1380,
        160
      ],
      "id": "36fbe65e-71a8-441f-97b3-a825c9497b8f",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "xM1Kdr0j4QvJ4iaw",
          "name": "AdminN8N"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1840,
        -280
      ],
      "id": "a0f6580c-427a-4a10-a42c-8bc94ce06fdc",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Read",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "c0a64c7c-e0a2-4f96-b472-fa2bac1d9760"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Read"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1340,
        -380
      ],
      "id": "419327b1-fd25-4950-9513-7d5391abbf5d",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "f7fa934cfc8440b38a705af8af6cc32f",
        "returnAll": true,
        "options": {}
      },
      "id": "71a50b86-f1f3-4f56-9060-09151182588e",
      "name": "Read Workflow DB",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 1,
      "position": [
        -1100,
        -380
      ],
      "credentials": {
        "notionApi": {
          "id": "tOaND2east20Zsvy",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "a3368838-3458-482f-9e2b-e61c1d667200",
              "leftValue": "={{$json[\"Project name\"]}}",
              "rightValue": "LLM Team",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "07e3b1bf-54e3-4bc0-985f-20ecd13585b2",
      "name": "Filter LLM Team",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -860,
        -380
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "pageId": "={{$json[\"id\"]}}"
      },
      "id": "92213046-fc4a-48ee-aea3-a0e240c951a8",
      "name": "Get LLM Team page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 1,
      "position": [
        -560,
        -520
      ],
      "credentials": {
        "notionApi": {
          "id": "tOaND2east20Zsvy",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "language": "javascript",
        "jsCode": "const taskIdsRaw = $json[\"Tasks\"];\nconsole.log(\"taskIdsRaw:\", taskIdsRaw);\n\nif (!Array.isArray(taskIdsRaw)) {\n    console.log(\"Tasks is not an array:\", JSON.stringify(taskIdsRaw));\n    return [];  // Ensure we're returning an empty array if it's not valid\n}\n\nconst taskData = taskIdsRaw.map(taskId => {\n    return { taskId };  // Creating an object for each taskId\n});\n\nconsole.log(\"taskData:\", taskData);\n\n// Return taskData as an array of objects to be iterated over in the next node\nreturn taskData;\n"
      },
      "id": "a5b7972c-12be-44f4-9cc5-1b9fd639b9c7",
      "name": "List Task IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -260,
        -580
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javascript",
        "jsCode": "// Получаем данные задачи\nconst task = $json;  // Предполагаем, что это объект с данными задачи\n\n// Извлекаем только имя задачи\nconst taskName = task?.[\"properties\"]?.[\"Task name\"]?.[\"title\"]?.[0]?.[\"plain_text\"];  // Получаем Task name\nconsole.log('taskName', task[\"Task name\"])\n\n// Возвращаем его для дальнейшей обработки\nreturn { taskName };\n"
      },
      "id": "0f09f124-2e03-4d03-8921-604f041052c3",
      "name": "List Task Names",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        600,
        -500
      ]
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {
          "reset": "={{ $json[\"taskData\"] }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        140,
        -500
      ],
      "id": "1b1b8550-2389-4113-a328-41dfcfe1d2de",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and extract the taskName\nlet taskNames = [];\nfor (const item of $input.all()) {\n  taskNames.push(item.json.taskName);\n}\n\n// Return the list of task names\nreturn { taskNames };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        -640
      ],
      "id": "2b431cf6-c858-49bb-9c3b-27ad606c9c9c",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "get",
        "pageId": "={{$json.taskId}}\n",
        "simple": false
      },
      "id": "1b7faf1e-7005-47c2-947d-37a09f0fd343",
      "name": "Get Task names",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 1,
      "position": [
        400,
        -500
      ],
      "credentials": {
        "notionApi": {
          "id": "tOaND2east20Zsvy",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb00b6c3-a8b4-430b-921a-b8ca8863d2bc",
              "name": "={{$json[\"Tasks\"]}}",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        -240
      ],
      "id": "acbcd1a5-229b-4aff-9381-dcd195e7b7bc",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Read Workflow DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Workflow DB": {
      "main": [
        [
          {
            "node": "Filter LLM Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter LLM Team": {
      "main": [
        [
          {
            "node": "Get LLM Team page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LLM Team page": {
      "main": [
        [
          {
            "node": "List Task IDs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Task IDs": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Task names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Task Names": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Task names": {
      "main": [
        [
          {
            "node": "List Task Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5dddc5ba-0930-4d2a-8db6-faeb6569e270",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-04-30T12:59:54.599Z",
      "updatedAt": "2025-04-30T12:59:54.599Z",
      "id": "VwAVXoFqt9ZzSBw6",
      "name": "Notion"
    }
  ]
}