workflows/Notion_API_MCP/Notion_API_MCP.json
{
  "createdAt": "2025-05-09T20:49:22.649Z",
  "updatedAt": "2025-05-09T21:03:26.000Z",
  "id": "6ynaIQ6xaoHEL1pe",
  "name": "Notion API MCP",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "functionCode": "// Получаем строку из output\nlet raw = items[0].json.output;\n\n// Удаляем markdown-обёртку, если есть\nraw = raw.replace(/```json|```/g, '').trim();\n\n// Парсим JSON\nconst parsed = JSON.parse(raw);\nreturn [{json: parsed}];"
      },
      "id": "983d0e2c-1a8e-4e52-9236-8c4d087142ba",
      "name": "Parse LLM JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        420,
        320
      ]
    },
    {
      "parameters": {
        "model": "google/gemma-3-27b-it",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        60,
        500
      ],
      "id": "b51d55c7-4c0a-4c25-919e-188846d939e9",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "xM1Kdr0j4QvJ4iaw",
          "name": "AdminN8N"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Собираем JSON для Notion с дефолтами\nreturn [{\n  json: {\n    parent: {\n      page_id: 'd5de49e6-f63d-42af-b1cd-0ae3f97b4359' // ID вашей страницы LLM Team\n    },\n    properties: {\n      title: [\n        {\n          text: {\n            content: $json[\"title\"] || 'Без названия'\n          },\n          type: 'text'\n        }\n      ],\n      status: [\n        {\n          text: {\n            content: $json[\"status\"] || 'новый'\n          },\n          type: 'text'\n        }\n      ],\n      deadline: [\n        {\n          text: {\n            content: $json[\"deadline\"] || 'не задан'\n          },\n          type: 'text'\n        }\n      ]\n      // Можно добавить другие поля по аналогии\n    },\n    children: $json[\"children\"] || []\n  }\n}];"
      },
      "id": "246e5d4d-e71f-481d-a395-8ff1ccb8f70d",
      "name": "Build Notion JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        620,
        320
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.notion.com/v1/pages",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ JSON.stringify($json) }}",
        "headerParametersJson": "{\n  \"Authorization\": \"Bearer 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\",\n  \"Notion-Version\": \"2022-06-28\",\n  \"Content-Type\": \"application/json\"\n}"
      },
      "id": "a79fe835-a83d-4608-a453-cb5011f5f832",
      "name": "Create Notion Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        840,
        320
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Преобразуй следующую команду пользователя в чистый JSON с полями:\n- title (название страницы, строка, по умолчанию \"Без названия\"),\n- status (статус, строка, по умолчанию \"Черновик\"),\n- deadline (дедлайн, дата в формате ГГГГ-ММ-ДД, по умолчанию null),\n- owner (ответственный, строка, по умолчанию \"Не назначен\"),\n- description (описание, строка, по умолчанию \"Нет описания\").\n\nЕсли какое-либо поле не указано в команде пользователя, подставь значение по умолчанию. Верни только валидный JSON без комментариев и лишнего текста.\n\nКоманда: {{$json[\"user_prompt\"]}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        60,
        320
      ],
      "id": "a0e50a04-8d82-4851-83d6-f81f15988827",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -340,
        320
      ],
      "id": "3c3b0121-f43c-4aed-ad4f-4afb9ece556f",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "22e4c54b-55fe-4d6d-b591-ab10a28f0a86",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1060,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc94babc-8ba6-425a-ad38-9cddbe3904c4",
              "name": "user_prompt",
              "value": "  Создай страницу с названием План на июнь, статусом черновик, дедлайном 2024-06-30, ответственным Иван Иванов и описанием \"План работ на месяц\".",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        320
      ],
      "id": "a7124243-fe8d-49b2-ae13-a01b92285b98",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Parse LLM JSON": {
      "main": [
        [
          {
            "node": "Build Notion JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Notion JSON": {
      "main": [
        [
          {
            "node": "Create Notion Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Notion Page": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse LLM JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5154ae0d-80a5-47e5-8da1-a6c00d40db5b",
  "triggerCount": 0,
  "tags": []
}