workflows/Notion__DriveDropbox_Sync/Notion__DriveDropbox_Sync.json
{
  "createdAt": "2025-05-15T12:06:05.720Z",
  "updatedAt": "2025-05-22T07:26:06.000Z",
  "id": "LGeb2r63DH63yCnP",
  "name": "Notion → Drive/Dropbox Sync",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "databaseId": {
          "__rl": true,
          "value": "1f4b16a3-1451-803b-926c-f1f31c5537df",
          "mode": "list",
          "cachedResultName": "Google Drive, Dropbox, Notion",
          "cachedResultUrl": "https://www.notion.so/1f4b16a31451803b926cf1f31c5537df"
        }
      },
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9d30ad9b-a6e2-4377-a9fd-6d266cab18b9",
      "name": "Notion Trigger",
      "credentials": {
        "notionApi": {
          "id": "W6XF5iZIo47DAorb",
          "name": "Notion Sync Bot"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "1f4b16a3-1451-803b-926c-f1f31c5537df",
          "mode": "list",
          "cachedResultName": "Google Drive, Dropbox, Notion",
          "cachedResultUrl": "https://www.notion.so/1f4b16a31451803b926cf1f31c5537df"
        }
      },
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "id": "d5e47cdf-d4c4-4dfd-9bc8-ac8d66b1225b",
      "name": "Notion Trigger1",
      "credentials": {
        "notionApi": {
          "id": "W6XF5iZIo47DAorb",
          "name": "Notion Sync Bot"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        320,
        120
      ],
      "id": "b2544b82-d529-4d8d-be60-67d788ef75c3",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9663e4e6-67aa-4496-b980-56f3594d0e8d",
              "leftValue": "={{$json.properties[\"Last Sync Source\"]?.select?.name}}",
              "rightValue": "GoogleDrive",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "e1f4871d-4e10-4919-9377-231e7d332372",
              "leftValue": "={{$json.properties[\"Last Sync Source\"]?.select?.name}}",
              "rightValue": "Dropbox",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3100,
        380
      ],
      "id": "8c40808d-3d43-4de5-a1ee-a1debff23349",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "folder",
        "name": "={{ $json._name }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json._driveParent }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1460,
        40
      ],
      "id": "6a284dc9-39d5-42de-91c0-5a67c95a2db6",
      "name": "Google Drive",
      "credentials": {
        "googleApi": {
          "id": "hS81TG2c6iJzBKyj",
          "name": "drive-sync-bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "path": "={{ $json._dropboxPath + '/' + $json._name }}"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        1920,
        40
      ],
      "id": "1a4068e6-93c2-4713-9ea8-dbef5572013b",
      "name": "Dropbox",
      "credentials": {
        "dropboxApi": {
          "id": "iaf6L8h4BPClZyDP",
          "name": "Dropbox sync"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{$node[\"Notion Trigger\"].json.id}}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "GDrive ID|rich_text",
              "textContent": "={{$node[\"Google Drive\"].json.id}}"
            },
            {
              "key": "Dropbox ID|rich_text",
              "textContent": "={{$node[\"Dropbox\"].json.metadata.path_display}}"
            },
            {
              "key": "Last Sync Source|select",
              "selectValue": "Notion"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2160,
        40
      ],
      "id": "f06c415d-e207-4ef0-8354-a44c2a8c852b",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "W6XF5iZIo47DAorb",
          "name": "Notion Sync Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.Parent[0] }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        720,
        -80
      ],
      "id": "ca136043-2261-4e8a-8eb4-c0b6862a6266",
      "name": "Notion1",
      "credentials": {
        "notionApi": {
          "id": "W6XF5iZIo47DAorb",
          "name": "Notion Sync Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Пример «Ensure Parents»: получаем цепочку родительских ID из Notion\n// и поочерёдно создаём папки в Google Drive и Dropbox\n// В данном примере мы просто возвращаем значения для дальнейших узлов.\n\nconst page = items[0].json;\nconst parents = page.properties.Parent?.relation || [];\n\nlet driveParentId = '1jgjm2KClN_SvxuTIK6dSRMge2AlzD0Mh';\nlet dropboxPath = '';\n\nfor (const rel of parents) {\n  // Тут вы можете проверять, есть ли уже GDrive ID в Notion для этого rel.id\n  // — если нет, создавать папку в Google Drive (через следующий узел)\n  // и записывать результат обратно в Notion.\n  //\n  // Аналогично для Dropbox: строить новый путь на основе dropboxPath.\n\n  // Для простоты вернём текущие значения:\n  driveParentId = driveParentId;\n  dropboxPath = dropboxPath + '/' + page.properties.Name.title[0].plain_text;\n}\n\nreturn [{\n  json: {\n    parentGDriveId: driveParentId,\n    parentDropboxPath: dropboxPath,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        580
      ],
      "id": "87352803-afb1-4ba4-ba96-e991e45f1c9e",
      "name": "Code"
    },
    {
      "parameters": {
        "functionCode": "// items — массив объектов вида item.json = { id, Parent, Name, \"GDrive ID\", ... }\nreturn items.map(item => {\n  // превращаем Name → чистое название\n  const name = item.json.Name?.replace(/^\"|\"$/g, '') || 'untitled';\n\n  // сюда будем записывать в родительскую папку Google Drive\n  const driveParentId = item.json['GDrive ID'] || 'root';\n\n  // путь внутри Dropbox\n  const dropboxPath = `/NotionSync/${name}`;\n\n  // засунем обратно\n  item.json._name         = name;\n  item.json._driveParent = driveParentId;\n  item.json._dropboxPath = dropboxPath;\n\n  return item;\n});\n"
      },
      "id": "7c101d96-d3ff-41b7-a02b-1893ff5ea8a3",
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        3260,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8e202cad-83b1-4ab8-ab2a-2edd02e36452",
              "leftValue": "={{ $json.Parent?.length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        540,
        120
      ],
      "id": "207c2faf-4d0d-4fc6-9651-30cb06aa8ec3",
      "name": "If1"
    },
    {
      "parameters": {
        "functionCode": "return items.map(item => {\n  const j = item.json;\n\n  // 1) достаём чистое название:\n  //    если есть Notion API properties — берём оттуда,\n  //    иначе fallback на j.Name\n  const rawFromProps = j.properties?.Name?.title?.[0]?.plain_text;\n  const name = rawFromProps ?? j.Name ?? 'untitled';\n  const cleanName = name.replace(/^\"|\"$/g, '');\n\n  // 2) родитель Google Drive — 'root' в корне\n  const driveParent = 'root';\n\n  // 3) путь для Dropbox\n  const dropboxPath = `/NotionSync/${cleanName}`;\n\n  // 4) сохраняем в JSON для следующих нод\n  item.json._name         = cleanName;\n  item.json._driveParent  = driveParent;\n  item.json._dropboxPath  = dropboxPath;\n\n  return item;\n});\n"
      },
      "id": "9c86bfe6-eb06-40de-9cd5-81ff540edfdf",
      "name": "Function1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        3400,
        380
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c23362e4-0e97-4377-9127-93e9a3af6449",
              "name": "driveParent",
              "value": "1jgjm2KClN_SvxuTIK6dSRMge2AlzD0Mh",
              "type": "string"
            },
            {
              "id": "68c6bd83-ef0f-4988-82cb-825cd9200ec9",
              "name": "dropboxPath",
              "value": "/NotionSync",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        820,
        320
      ],
      "id": "7b9e7ead-af1a-4f9c-b006-1aa654c24e3b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1040,
        260
      ],
      "id": "0a775e0d-caa8-4378-877a-8b7d00663d2d",
      "name": "Merge1"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "folder",
        "name": "={{ $json.Name }}",
        "driveId": {
          "__rl": true,
          "value": "=1jgjm2KClN_SvxuTIK6dSRMge2AlzD0Mh",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.driveParent }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1260,
        260
      ],
      "id": "54ca65b1-0f83-4ec4-910f-07fc77a98a8f",
      "name": "Google Drive1",
      "credentials": {
        "googleApi": {
          "id": "hS81TG2c6iJzBKyj",
          "name": "drive-sync-bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{$node[\"Notion Trigger1\"].json.id}}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "GDrive ID|rich_text",
              "textContent": "={{$node[\"Google Drive1\"].json.id}}"
            },
            {
              "key": "Dropbox ID|rich_text",
              "textContent": "={{$node[\"Dropbox1\"].json.metadata.path_display}}"
            },
            {
              "key": "Last Sync Source|select",
              "selectValue": "Notion"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1760,
        240
      ],
      "id": "8d23de80-ea84-476a-a752-538e3722d134",
      "name": "Notion2",
      "credentials": {
        "notionApi": {
          "id": "W6XF5iZIo47DAorb",
          "name": "Notion Sync Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c23362e4-0e97-4377-9127-93e9a3af6449",
              "name": "_name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "68c6bd83-ef0f-4988-82cb-825cd9200ec9",
              "name": "_driveParent",
              "value": "={{ $json.property_g_drive_id }}",
              "type": "string"
            },
            {
              "id": "38e2a322-3eee-4f87-a8c7-d0b5ec3f4f56",
              "name": "_dropboxPath",
              "value": "={{ $json.property_dropbox_id.replace(/^id:/, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        60
      ],
      "id": "fff9bf95-5b8f-4759-976f-86cc36fc2849",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1280,
        -60
      ],
      "id": "ce9409e8-0a14-4ca4-a4c5-725a3006f4e8",
      "name": "Merge2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        900,
        60
      ],
      "id": "124a6010-f65b-4e52-9265-edac553e7fa9",
      "name": "Merge3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1680,
        -40
      ],
      "id": "741d981a-be16-4d8e-803c-a0275d582637",
      "name": "Merge4"
    },
    {
      "parameters": {},
      "id": "8b9b2f20-7873-4fd7-9281-0d14705258ac",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        20,
        900
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "1f4b16a3-1451-803b-926c-f1f31c5537df",
          "mode": "list",
          "cachedResultName": "Google Drive, Dropbox, Notion",
          "cachedResultUrl": "https://www.notion.so/1f4b16a31451803b926cf1f31c5537df"
        },
        "options": {}
      },
      "id": "aa935274-e8b6-4a4d-8173-685392c40071",
      "name": "Get Notion Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 1,
      "position": [
        260,
        900
      ],
      "credentials": {
        "notionApi": {
          "id": "W6XF5iZIo47DAorb",
          "name": "Notion Sync Bot"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const text = $json.properties.FileText.rich_text[0]?.text?.content || '';\n\nreturn [{\n  json: {},\n  binary: {\n    data: Buffer.from(text, 'utf-8').toString('base64')\n  }\n}];"
      },
      "id": "51235ff3-1ee8-4e0a-81f0-4c5a24566d7f",
      "name": "Text to Binary",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2760,
        440
      ]
    },
    {
      "parameters": {
        "parents": [
          "ВАШ_GOOGLE_DRIVE_FOLDER_ID"
        ],
        "options": {}
      },
      "id": "a51e6ec5-9301-4a41-bc77-7b54c1a8f758",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        2980,
        320
      ],
      "credentials": {
        "googleApi": {
          "id": "hS81TG2c6iJzBKyj",
          "name": "drive-sync-bot"
        }
      }
    },
    {
      "parameters": {
        "path": "/NotionSync/{{$json.properties.Name.title[0].plain_text || 'file'}}.txt",
        "binaryData": true
      },
      "id": "e84c1baa-1021-4824-b524-4862d233eef1",
      "name": "Upload to Dropbox",
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        2960,
        540
      ],
      "credentials": {
        "dropboxApi": {
          "id": "iaf6L8h4BPClZyDP",
          "name": "Dropbox sync"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": "={{$json.page_id}}",
        "options": {}
      },
      "id": "446df0f2-ae61-4edb-83b8-1965a59abb77",
      "name": "Update Notion Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 1,
      "position": [
        3220,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1841eb4-0ea0-464c-bbc9-30807e4f64e8",
              "leftValue": "={{ $json.Type }}",
              "rightValue": "File-Text",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        900
      ],
      "id": "2bed013a-ebe1-4723-9b58-237a1a2fcbb3",
      "name": "If2"
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        740,
        880
      ],
      "id": "352a739d-bbcd-4dc7-b9e5-f5f001572675",
      "name": "Notion3",
      "credentials": {
        "notionApi": {
          "id": "W6XF5iZIo47DAorb",
          "name": "Notion Sync Bot"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://notion.com/{{ $json.root_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3520,
        480
      ],
      "id": "c6978678-af9f-4618-9ca6-762d807aaed2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "googleDocs"
      },
      "id": "2abab015-3309-4e16-90ba-1c329ee09c4c",
      "name": "Create Google Docs",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 1,
      "position": [
        3220,
        580
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "UGRtdL18RWBWUBkv",
          "name": "Google Docs Sales API"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "1f4b16a3-1451-803b-926c-f1f31c5537df",
          "mode": "list",
          "cachedResultName": "Google Drive, Dropbox, Notion",
          "cachedResultUrl": "https://www.notion.so/1f4b16a31451803b926cf1f31c5537df"
        },
        "options": {}
      },
      "id": "7ed10000-ce37-400b-a304-4c1ee626bf70",
      "name": "Get Notion Page1",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 1,
      "position": [
        2800,
        720
      ],
      "credentials": {
        "notionApi": {
          "id": "W6XF5iZIo47DAorb",
          "name": "Notion Sync Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1841eb4-0ea0-464c-bbc9-30807e4f64e8",
              "leftValue": "={{$json.Type}}",
              "rightValue": "File-Text",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2980,
        700
      ],
      "id": "a4e18387-8e6b-4ca0-9b6a-e9e3b68dff98",
      "name": "If3"
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "value": "={{$json.id}}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        3160,
        720
      ],
      "id": "61977ba4-dd53-451a-9d1f-9cc6517d07df",
      "name": "Notion4",
      "credentials": {
        "notionApi": {
          "id": "W6XF5iZIo47DAorb",
          "name": "Notion Sync Bot"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://notion.com/{{ $json.root_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3440,
        580
      ],
      "id": "a1271c47-12b4-4d17-b558-5ea07b9f59cc",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "path": "=/NotionSync/{{$json.fileName}}.docx",
        "binaryData": true
      },
      "id": "c7f1ae83-764d-4ec1-b442-d765f453a5c6",
      "name": "Upload to Dropbox1",
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        2500,
        1580
      ],
      "credentials": {
        "dropboxApi": {
          "id": "iaf6L8h4BPClZyDP",
          "name": "Dropbox sync"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "root_id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3400,
        780
      ],
      "id": "8799dbf8-19d3-4695-8805-d2c761b4a5f7",
      "name": "Merge5"
    },
    {
      "parameters": {
        "jsCode": "let content = '';\n\nfor (const item of items) {\n  // Каждый item — это отдельный блок\n  if (item.json.type === 'paragraph') {\n    content += (item.json.content || '') + '\\n\\n';\n  }\n  // Добавь обработку других типов блоков, если нужно\n}\n\n// pageId можно взять из первого блока\nreturn [{\n  json: {\n    ...items[0].json,\n    content,\n    pageId: items[0].json.parent.page_id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        880
      ],
      "id": "6f146764-75f0-4b63-b929-56e880bfa66c",
      "name": "Gather Text From Blocks"
    },
    {
      "parameters": {
        "jsCode": "     return [{\n       json: {\n         ...$json,\n         fileName: $json.Name || 'untitled',\n         // или если сложная структура:\n         // fileName: $json.properties?.Name?.title?.[0]?.plain_text || 'untitled',\n         pageId: $json.id,\n         parentId: $json.Parent?.[0] || null\n       }\n     }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        1080
      ],
      "id": "e641d58f-8848-423a-96e7-06346e3de70a",
      "name": "Get FileName"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "pageId",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1180,
        980
      ],
      "id": "5bf50434-269e-4b43-ac5d-538230b9f414",
      "name": "Merge File Data"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ...$json,\n  },\n  binary: {\n    data: Buffer.from($json.content || '', 'utf-8')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        1480
      ],
      "id": "de4d4198-0ceb-43ff-a53b-87ddf886d608",
      "name": "Text to Binary1"
    },
    {
      "parameters": {
        "binaryData": true,
        "name": "={{$json.fileName}}.txt",
        "parents": [
          "1jgjm2KClN_SvxuTIK6dSRMge2AlzD0Mh"
        ],
        "options": {}
      },
      "id": "fefce6a0-98ba-4a76-80bb-8f51f1dee9cb",
      "name": "Upload to Google Drive1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        2500,
        1380
      ],
      "credentials": {
        "googleApi": {
          "id": "hS81TG2c6iJzBKyj",
          "name": "drive-sync-bot"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "folderId": "=1jgjm2KClN_SvxuTIK6dSRMge2AlzD0Mh",
        "title": "={{$json.fileName}}.docx"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1340,
        820
      ],
      "id": "80dece41-8cb2-4d2a-8ed0-cedd74f83748",
      "name": "Google Docs",
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "hS81TG2c6iJzBKyj",
          "name": "drive-sync-bot"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "folderId": "=1jgjm2KClN_SvxuTIK6dSRMge2AlzD0Mh",
        "title": "Hello"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1800,
        940
      ],
      "id": "bbe0a795-a354-4c8d-9906-4ca36bf5b44d",
      "name": "Google Docs1",
      "credentials": {
        "googleApi": {
          "id": "hS81TG2c6iJzBKyj",
          "name": "drive-sync-bot"
        }
      }
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT \n  input1.id AS doc_id, \n  input1.name, \n  input1.mimeType, \n  input2.content, \n  input2.page_id\nFROM input1\nLEFT JOIN input2 ON input1.name LIKE input2.Name || '%.docx'"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1620,
        940
      ],
      "id": "01949ed0-a631-4208-b6ce-c84679ba763a",
      "name": "Merge File Data1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=  https://docs.googleapis.com/v1/documents/{{$json.doc_id}}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"requests\": [\n      {\n        \"insertText\": {\n          \"location\": {\n            \"index\": 1\n          },\n          \"text\": \"Тестовый текст\"\n        }\n      }\n    ]\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        1140
      ],
      "id": "44c67f0c-bb2d-48cb-b610-8c2c97a76894",
      "name": "HTTP Request2",
      "credentials": {
        "googleApi": {
          "id": "hS81TG2c6iJzBKyj",
          "name": "drive-sync-bot"
        },
        "googleDocsOAuth2Api": {
          "id": "UGRtdL18RWBWUBkv",
          "name": "Google Docs Sales API"
        },
        "googleDriveOAuth2Api": {
          "id": "ea1Ryzfn8SR7SYUN",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentURL": "={{$json.id}}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=Hello there!"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2000,
        920
      ],
      "id": "017a1b42-eff3-47ec-801b-ac504e79bb48",
      "name": "Google Docs2",
      "credentials": {
        "googleApi": {
          "id": "hS81TG2c6iJzBKyj",
          "name": "drive-sync-bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "path": "=/NotionSync/{{$json.name}}"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        1500,
        240
      ],
      "id": "11e011ea-3570-4c4f-8030-b17c50daaae1",
      "name": "Dropbox1",
      "credentials": {
        "dropboxApi": {
          "id": "iaf6L8h4BPClZyDP",
          "name": "Dropbox sync"
        }
      }
    }
  ],
  "connections": {
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Trigger1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        []
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Dropbox": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Notion1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Dropbox1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Dropbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Get Notion Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Notion Page": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text to Binary": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload to Dropbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Update Notion Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Dropbox": {
      "main": [
        [
          {
            "node": "Update Notion Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Notion3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get FileName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion3": {
      "main": [
        [
          {
            "node": "Gather Text From Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Docs": {
      "main": [
        []
      ]
    },
    "Get Notion Page1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Notion4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Notion4": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gather Text From Blocks": {
      "main": [
        [
          {
            "node": "Merge File Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get FileName": {
      "main": [
        [
          {
            "node": "Merge File Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge File Data": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge File Data1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Text to Binary1": {
      "main": [
        [
          {
            "node": "Upload to Google Drive1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload to Dropbox1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive1": {
      "main": [
        []
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Merge File Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs1": {
      "main": [
        [
          {
            "node": "Google Docs2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge File Data1": {
      "main": [
        [
          {
            "node": "Google Docs1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        []
      ]
    },
    "Dropbox1": {
      "main": [
        [
          {
            "node": "Notion2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "67ad153c-5f11-4c31-a76f-99bf3856c49a",
  "triggerCount": 0,
  "tags": []
}