workflows/Notion__DriveDropbox_Sync/Notion__DriveDropbox_Sync.json
{
  "createdAt": "2025-05-15T12:06:05.720Z",
  "updatedAt": "2025-05-15T14:45:42.000Z",
  "id": "LGeb2r63DH63yCnP",
  "name": "Notion → Drive/Dropbox Sync",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "databaseId": {
          "__rl": true,
          "value": "1f4b16a3-1451-803b-926c-f1f31c5537df",
          "mode": "list",
          "cachedResultName": "Google Drive, Dropbox, Notion",
          "cachedResultUrl": "https://www.notion.so/1f4b16a31451803b926cf1f31c5537df"
        }
      },
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9d30ad9b-a6e2-4377-a9fd-6d266cab18b9",
      "name": "Notion Trigger",
      "credentials": {
        "notionApi": {
          "id": "W6XF5iZIo47DAorb",
          "name": "Notion Sync Bot"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "1f4b16a3-1451-803b-926c-f1f31c5537df",
          "mode": "list",
          "cachedResultName": "Google Drive, Dropbox, Notion",
          "cachedResultUrl": "https://www.notion.so/1f4b16a31451803b926cf1f31c5537df"
        }
      },
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "id": "d5e47cdf-d4c4-4dfd-9bc8-ac8d66b1225b",
      "name": "Notion Trigger1",
      "credentials": {
        "notionApi": {
          "id": "W6XF5iZIo47DAorb",
          "name": "Notion Sync Bot"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        320,
        120
      ],
      "id": "b2544b82-d529-4d8d-be60-67d788ef75c3",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9663e4e6-67aa-4496-b980-56f3594d0e8d",
              "leftValue": "={{$json.properties[\"Last Sync Source\"]?.select?.name}}",
              "rightValue": "GoogleDrive",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "e1f4871d-4e10-4919-9377-231e7d332372",
              "leftValue": "={{$json.properties[\"Last Sync Source\"]?.select?.name}}",
              "rightValue": "Dropbox",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        540,
        120
      ],
      "id": "8c40808d-3d43-4de5-a1ee-a1debff23349",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "folder",
        "name": "={{$node[\"Notion1\"].json.properties.Name.title[0].plain_text}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{$node[\"Notion1\"].json.properties[\"GDrive ID\"].rich_text[0].plain_text}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        920,
        -40
      ],
      "id": "6a284dc9-39d5-42de-91c0-5a67c95a2db6",
      "name": "Google Drive",
      "credentials": {
        "googleApi": {
          "id": "hS81TG2c6iJzBKyj",
          "name": "drive-sync-bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "path": "=/NotionSync/{{$json.name}}"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        1140,
        -60
      ],
      "id": "1a4068e6-93c2-4713-9ea8-dbef5572013b",
      "name": "Dropbox",
      "credentials": {
        "dropboxApi": {
          "id": "iaf6L8h4BPClZyDP",
          "name": "Dropbox sync"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{$node[\"Notion Trigger\"].json.id}}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "GDrive ID|rich_text",
              "textContent": "={{$node[\"Google Drive\"].json.id}}"
            },
            {
              "key": "Dropbox ID|rich_text",
              "textContent": "={{$node[\"Dropbox\"].json.metadata.id}}"
            },
            {
              "key": "Last Sync Source|select",
              "selectValue": "Notion"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1400,
        -60
      ],
      "id": "f06c415d-e207-4ef0-8354-a44c2a8c852b",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "W6XF5iZIo47DAorb",
          "name": "Notion Sync Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.Parent }}",
          "mode": "id"
        },
        "simple": false
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        720,
        -40
      ],
      "id": "ca136043-2261-4e8a-8eb4-c0b6862a6266",
      "name": "Notion1",
      "credentials": {
        "notionApi": {
          "id": "W6XF5iZIo47DAorb",
          "name": "Notion Sync Bot"
        }
      }
    }
  ],
  "connections": {
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Trigger1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Notion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Dropbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dropbox": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "06691528-c4ed-4508-a726-bbef2aafea06",
  "triggerCount": 0,
  "tags": []
}