workflows/N8n-Notion_Task_Management_Automation/N8n-Notion_Task_Management_Automation.json
{
  "createdAt": "2025-05-12T11:53:36.924Z",
  "updatedAt": "2025-05-13T14:54:26.000Z",
  "id": "rjpOU7vUD96M6yDC",
  "name": "N8n-Notion Task Management Automation",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -100,
        380
      ],
      "id": "9c5a4f16-7ecd-4841-a226-58c0affff4e8",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        420,
        60
      ],
      "id": "9738904f-c47b-4251-8b26-3aa39d68f92c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const type = item.json.type;\n\n// 1. Если обычный блок с content\nif (item.json.content) {\n  return {\n    json: {\n      text: item.json.content\n    }\n  };\n}\n\n// 2. Если таблица — склеим всё в одну строку\nif (type === \"table_row\" && item.json.table_row?.cells) {\n  const text = item.json.table_row.cells\n    .map(cell => cell.map(c => c.text?.content || '').join(' ').trim())\n    .join(' | ')\n    .trim();\n\n  return {\n    json: {\n      text\n    }\n  };\n}\n\n// 3. Всё остальное — вернуть пустой текст\nreturn {\n  json: {\n    text: null\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        160
      ],
      "id": "400f42d2-d844-4c1d-b295-d5a4e3724a52",
      "name": "Parse Notion Block"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      texts: items.map(item => item.json.text).filter(t => t !== null && t !== undefined)\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        -40
      ],
      "id": "d46e4cdb-1fd5-4686-80ac-99a0d7b90b85",
      "name": "Build Text Array"
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "value": "1f1b16a314518096935fd8e1836183de",
          "mode": "id"
        },
        "fetchNestedBlocks": true
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        120,
        380
      ],
      "id": "2d910400-eea2-4780-8612-8eb893797b29",
      "name": "Notion: Get all inside blocks by ID",
      "credentials": {
        "notionApi": {
          "id": "tOaND2east20Zsvy",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Пройди по массиву объектов. Для каждого объекта:\n\n- Если в объекте есть ключ `content`, создай новый объект с единственным ключом `text`, в который положи значение из `content`.\n- Если `content` отсутствует, пропусти объект.\n\nВерни результат в формате:\n\n[\n  { \"text\": \"...\" },\n  { \"text\": \"...\" },\n  ...\n]\n\nВот массив объектов:\n{{ JSON.stringify($json, null, 2) }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        600,
        440
      ],
      "id": "fe823f4d-5341-4d7b-8eea-b930efe9f40e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "google/gemma-3-27b-it",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        600,
        640
      ],
      "id": "eed01233-057b-403d-94fd-246baf18c710",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "xM1Kdr0j4QvJ4iaw",
          "name": "AdminN8N"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Notion: Get all inside blocks by ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Build Text Array",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Notion Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Notion Block": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Get all inside blocks by ID": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "31a8446b-c54e-4dab-8e68-8a18d41f2a9d",
  "triggerCount": 0,
  "tags": []
}